html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, section, article, header, nav, ul, li {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: arial, Helvetica, sans-serif; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

header {
  text-align: center;
  clear: both;
  height: auto; }

.top-header {
  width: 100%;
  background: #7e7675;
  height: 30px; }

.main-header {
  width: 100%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto 10px; }
  .main-header .left, .main-header .right {
    margin-top: 10px; }
  .main-header .right p {
    margin-bottom: 10px; }
  .main-header .right a {
    font-size: 10px;
    font-weight: bold;
    line-height: 17px;
    background: #a2c43f;
    height: 20px;
    padding: 4px 10px;
    border-radius: 2px;
    color: #ffffff;
    text-decoration: none; }
  .main-header .left, .main-header .center, .main-header .right {
    float: left;
    width: 33%;
    text-align: center;
    color: #7e7675;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .main-header .left, .main-header .center, .main-header .right {
        width: 90%;
        text-align: center;
        margin: 10px 5%; } }
    .main-header .left img, .main-header .center img, .main-header .right img {
      width: 168px;
      height: 75px; }
    .main-header .left .location-icon, .main-header .center .location-icon, .main-header .right .location-icon {
      width: 46px;
      float: left; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .main-header .left .location-icon, .main-header .center .location-icon, .main-header .right .location-icon {
          width: 100%; } }
      .main-header .left .location-icon i, .main-header .center .location-icon i, .main-header .right .location-icon i {
        color: #a2c43f;
        font-size: 42px; }
    .main-header .left .location, .main-header .center .location, .main-header .right .location {
      width: auto;
      float: left; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .main-header .left .location, .main-header .center .location, .main-header .right .location {
          width: 100%; } }

#nav {
  border-bottom: 1px solid #a2c43f;
  background: #f8f8f8; }
  @media only screen and (min-width: 1050px) {
    #nav {
      display: block !important; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    #nav {
      position: absolute;
      top: 50px;
      text-align: left;
      display: none;
      border: none; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    #nav ul {
      border: none; } }
  #nav ul li {
    padding: 5px 10px; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav ul li {
        padding: 0;
        width: 100%;
        display: block;
        border-bottom: 1px solid #e1e1e1; } }
    #nav ul li:hover {
      border-bottom: 5px solid #a2c43f; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        #nav ul li:hover {
          border-bottom: 1px solid #e1e1e1; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav ul li a {
        width: 100%;
        position: relative;
        text-align: center;
        height: 36px;
        line-height: 36px; }
        #nav ul li a:after {
          display: block;
          content: "";
          position: absolute;
          right: 10%;
          top: 15px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-left: 5px solid #000;
          border-bottom: 5px solid transparent; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav ul li a.down-arrow:after {
        border-top: 5px solid #000;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav ul li .sub-nav .nav-col ul li:first-child a.down-arrow:after {
        border-top: 5px solid #000;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav ul li .sub-nav .nav-col ul li:not(:first-child) a:after {
        border: 0; } }
  #nav .nav-col ul li:first-child, #nav .nav-col-story ul li:first-child {
    font-weight: bold;
    margin-top: 20px; }
    #nav .nav-col ul li:first-child a:after, #nav .nav-col-story ul li:first-child a:after {
      content: "";
      position: absolute;
      right: 10%;
      top: 15px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 5px solid #000;
      border-bottom: 5px solid transparent; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav .nav-col ul li:first-child, #nav .nav-col-story ul li:first-child {
        display: block;
        margin: 0;
        background: #e6e6e6; } }
  #nav .nav-col ul li, #nav .nav-col-story ul li {
    width: 100%;
    padding: 0 0 8px;
    line-height: initial;
    height: auto; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav .nav-col ul li, #nav .nav-col-story ul li {
        display: none;
        padding: 0; } }
    @media only screen and (min-width: 1050px) {
      #nav .nav-col ul li, #nav .nav-col-story ul li {
        display: block !important; } }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      #nav .nav-col ul li, #nav .nav-col-story ul li {
        display: block !important; } }
    #nav .nav-col ul li:hover, #nav .nav-col-story ul li:hover {
      border: none; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        #nav .nav-col ul li:hover, #nav .nav-col-story ul li:hover {
          border-bottom: 1px solid #e1e1e1; } }

nav {
  width: 100%;
  float: left;
  border-top: 1px solid #e1e1e1; }
  nav ul {
    width: 100%;
    text-align: center; }
    nav ul li {
      padding: 3px 0px;
      display: inline;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 14px;
      border: 0; }
      nav ul li:hover .sub-nav-container, nav ul li:active .sub-nav-container {
        display: block; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          nav ul li:hover .sub-nav-container, nav ul li:active .sub-nav-container {
            display: none; } }
        @media only screen and (min-width: 1050px) {
          nav ul li:hover .sub-nav-container, nav ul li:active .sub-nav-container {
            display: block !important; } }
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
          nav ul li:hover .sub-nav-container, nav ul li:active .sub-nav-container {
            display: block !important; } }
      nav ul li a {
        display: inline-block;
        text-decoration: none;
        outline: 0;
        color: #7e7675; }
    nav ul li.red a {
      color: #c11a36; }
    nav ul li.red .nav-col a {
      color: #7e7675; }
  nav .sub-nav-container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    background: #ffffff;
    border-top: 1px solid #a2c43f;
    border-bottom: 3px solid #e1e1e1;
    padding-bottom: 10px;
    z-index: 99; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      nav .sub-nav-container {
        background: #cccccc;
        border: 0;
        padding: 0; } }
    nav .sub-nav-container .sub-nav {
      width: 930px;
      margin: 0 auto; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        nav .sub-nav-container .sub-nav {
          width: 100%;
          display: block; } }
      nav .sub-nav-container .sub-nav .nav-col, nav .sub-nav-container .sub-nav .nav-col-2, nav .sub-nav-container .sub-nav .nav-col-story {
        width: 168px;
        min-width: 168px;
        min-height: 1px;
        float: left;
        text-align: left; }
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
          nav .sub-nav-container .sub-nav .nav-col, nav .sub-nav-container .sub-nav .nav-col-2, nav .sub-nav-container .sub-nav .nav-col-story {
            width: 40%;
            margin: 0 5%;
            float: left; } }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          nav .sub-nav-container .sub-nav .nav-col, nav .sub-nav-container .sub-nav .nav-col-2, nav .sub-nav-container .sub-nav .nav-col-story {
            width: 100%;
            margin: 0;
            display: block; } }
        nav .sub-nav-container .sub-nav .nav-col ul, nav .sub-nav-container .sub-nav .nav-col-2 ul, nav .sub-nav-container .sub-nav .nav-col-story ul {
          text-align: left; }
          nav .sub-nav-container .sub-nav .nav-col ul li, nav .sub-nav-container .sub-nav .nav-col-2 ul li, nav .sub-nav-container .sub-nav .nav-col-story ul li {
            text-align: left;
            float: left; }
            @media only screen and (min-width: 0px) and (max-width: 767px) {
              nav .sub-nav-container .sub-nav .nav-col ul li:hover, nav .sub-nav-container .sub-nav .nav-col-2 ul li:hover, nav .sub-nav-container .sub-nav .nav-col-story ul li:hover {
                border-bottom: 1px solid #e1e1e1; } }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        nav .sub-nav-container .sub-nav .nav-col ul li {
          display: none; } }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        nav .sub-nav-container .sub-nav .nav-col ul li a:after {
          content: "";
          position: absolute;
          right: 10%;
          top: 15px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-left: 5px solid #000;
          border-bottom: 5px solid transparent; } }
      nav .sub-nav-container .sub-nav .nav-col-2 {
        width: 372px; }
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
          nav .sub-nav-container .sub-nav .nav-col-2 {
            width: 40%;
            margin: 0 5%;
            float: left; } }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          nav .sub-nav-container .sub-nav .nav-col-2 {
            display: none; } }
      nav .sub-nav-container .sub-nav .nav-col-story {
        width: 231px; }
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
          nav .sub-nav-container .sub-nav .nav-col-story {
            width: 40%;
            margin: 0 5%;
            float: left; } }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          nav .sub-nav-container .sub-nav .nav-col-story {
            width: 100%;
            margin: 0%;
            float: left; } }
        nav .sub-nav-container .sub-nav .nav-col-story p {
          font-family: times new roman, serif;
          color: #7e7675;
          font-size: 20px; }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            nav .sub-nav-container .sub-nav .nav-col-story p {
              display: none; } }
        nav .sub-nav-container .sub-nav .nav-col-story .welcome {
          font-size: 30px;
          color: #a2c43f;
          padding: 25px 0 12px; }
        nav .sub-nav-container .sub-nav .nav-col-story div {
          margin-top: 10px; }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            nav .sub-nav-container .sub-nav .nav-col-story div {
              display: none; } }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          nav .sub-nav-container .sub-nav .nav-col-story img {
            display: none; } }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          nav .sub-nav-container .sub-nav .nav-col-story ul li a:after {
            display: none; } }

#nav-2-container {
  width: 100%;
  float: left; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    #nav-2-container {
      position: absolute;
      top: 309px; } }
  #nav-2-container #nav-2 {
    font-family: "Noto Serif", serif;
    text-align: center;
    text-decoration: none;
    margin: 10px auto 0;
    border-bottom: 3px solid #e1e1e1;
    max-width: 1050px;
    float: none; }
    @media only screen and (min-width: 1050px) {
      #nav-2-container #nav-2 {
        display: block !important; } }
    @media only screen and (min-width: 768px) and (max-width: 1050px) {
      #nav-2-container #nav-2 {
        display: block !important; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #nav-2-container #nav-2 {
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        margin: 0; } }
    #nav-2-container #nav-2 ul {
      text-align: center; }
      #nav-2-container #nav-2 ul li {
        font-size: 16px;
        padding: 0;
        margin: 0 3px;
        width: 100%;
        position: relative; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          #nav-2-container #nav-2 ul li {
            margin: 0;
            display: inline-block;
            background: #fbfbfb;
            border-bottom: 1px solid #e1e1e1; } }
        @media only screen and (min-width: 768px) and (max-width: 1050px) {
          #nav-2-container #nav-2 ul li {
            margin: 0;
            font-size: 15px; } }
        #nav-2-container #nav-2 ul li:after {
          content: "/";
          color: #eee;
          font-weight: bold; }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            #nav-2-container #nav-2 ul li:after {
              content: ""; } }
        #nav-2-container #nav-2 ul li:first-child a:after {
          border: 0; }
        #nav-2-container #nav-2 ul li:last-child:after {
          display: none; }
        #nav-2-container #nav-2 ul li:hover {
          border: none; }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            #nav-2-container #nav-2 ul li:hover {
              border-bottom: 1px solid #e1e1e1; } }
          #nav-2-container #nav-2 ul li:hover ul {
            display: block; }
            @media only screen and (min-width: 0px) and (max-width: 767px) {
              #nav-2-container #nav-2 ul li:hover ul {
                display: none; } }
            @media only screen and (min-width: 1050px) {
              #nav-2-container #nav-2 ul li:hover ul {
                display: block !important; } }
            @media only screen and (min-width: 768px) and (max-width: 1050px) {
              #nav-2-container #nav-2 ul li:hover ul {
                display: block !important; } }
        #nav-2-container #nav-2 ul li a {
          letter-spacing: 2px;
          padding: 0 16px;
          height: 50px;
          line-height: 50px;
          position: relative; }
          @media only screen and (min-width: 768px) and (max-width: 1050px) {
            #nav-2-container #nav-2 ul li a {
              padding: 0;
              letter-spacing: 1px; } }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            #nav-2-container #nav-2 ul li a {
              font-size: 14px;
              height: 36px;
              line-height: 36px;
              letter-spacing: 0;
              width: 100%;
              padding: 0; } }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            #nav-2-container #nav-2 ul li a:after {
              content: "";
              position: absolute;
              right: 10%;
              top: 15px;
              width: 0;
              height: 0;
              border-bottom: 5px solid transparent;
              border-left: 5px solid #000;
              border-top: 5px solid transparent; } }
          #nav-2-container #nav-2 ul li a:hover {
            text-decoration: underline; }
            @media only screen and (min-width: 0px) and (max-width: 767px) {
              #nav-2-container #nav-2 ul li a:hover {
                text-decoration: none; } }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          #nav-2-container #nav-2 ul li a.swap {
            font-size: 0; }
            #nav-2-container #nav-2 ul li a.swap:before {
              content: attr(data-swap);
              font-size: 14px; } }
        #nav-2-container #nav-2 ul li ul {
          display: none;
          width: 160px;
          z-index: 999;
          position: absolute;
          background: #f8f8f8;
          left: 50%;
          margin-left: -85px;
          text-align: center; }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            #nav-2-container #nav-2 ul li ul {
              width: 100%;
              left: 0;
              background: #e8e8e8;
              margin: 0; } }
          #nav-2-container #nav-2 ul li ul:before {
            content: "";
            position: absolute;
            left: 40%;
            top: -10px;
            border-width: 0 10px 10px;
            border-style: solid;
            border-color: transparent transparent #a2c43f;
            width: 0;
            z-index: 999;
            opacity: 1; }
            @media only screen and (min-width: 0px) and (max-width: 767px) {
              #nav-2-container #nav-2 ul li ul:before {
                display: none; } }
          #nav-2-container #nav-2 ul li ul li {
            display: block;
            margin: 0;
            border-bottom: 1px solid #e1e1e1;
            padding: 0;
            height: auto;
            line-height: initial; }
            @media only screen and (min-width: 0px) and (max-width: 767px) {
              #nav-2-container #nav-2 ul li ul li {
                background: #e8e8e8;
                font-size: 14px;
                font-weight: bold; } }
            #nav-2-container #nav-2 ul li ul li:after {
              display: none; }
            #nav-2-container #nav-2 ul li ul li:hover {
              border-bottom: 1px solid #e1e1e1; }
            #nav-2-container #nav-2 ul li ul li a {
              font-size: 10px;
              line-height: 16px;
              padding: 12px;
              height: auto;
              letter-spacing: 0;
              font-family: arial, Helvetica, sans-serif; }
              @media only screen and (min-width: 0px) and (max-width: 767px) {
                #nav-2-container #nav-2 ul li ul li a {
                  font-size: 14px; } }
              #nav-2-container #nav-2 ul li ul li a:hover {
                color: #a2c43f; }
                @media only screen and (min-width: 0px) and (max-width: 767px) {
                  #nav-2-container #nav-2 ul li ul li a:hover {
                    color: #7e7675; } }
              #nav-2-container #nav-2 ul li ul li a:after {
                display: none; }
          #nav-2-container #nav-2 ul li ul li:last-child {
            border: 0; }
    #nav-2-container #nav-2 .nav-col-story li {
      width: 100%;
      padding: 0 0 8px;
      line-height: initial;
      height: auto; }
      #nav-2-container #nav-2 .nav-col-story li:hover {
        border: none; }

#offer {
  width: 100%;
  background: #a2c43f;
  float: left;
  margin-bottom: 20px;
  text-align: center; }
  #offer .left, #offer .right {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    line-height: 28px; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      #offer .left, #offer .right {
        width: 90%;
        margin: 5px 5%; } }
  #offer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
    #offer a:hover {
      text-decoration: underline; }

#branding-container {
  width: 100%;
  float: left;
  text-align: center; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    #branding-container {
      width: 90%;
      margin: 0 5%; } }
  #branding-container #branding {
    width: 100%;
    max-width: 1050px;
    height: auto;
    margin: 0px auto; }
    #branding-container #branding img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      height: 106px; }

#mobile-nav-container {
  width: 100%;
  float: left;
  height: 50px;
  background: #645d5c;
  color: #ffffff;
  text-align: right;
  display: none; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    #mobile-nav-container {
      display: block; } }
  #mobile-nav-container p {
    cursor: pointer; }
  #mobile-nav-container .mobile-nav-button {
    width: 73px;
    margin: 16px 20px 0 auto;
    font-size: 20px; }
