// Variables
$green: #a2c43f
$brown: #7e7675
$white: #ffffff
$grey:  #e1e1e1


// Media Queries
@mixin mobile
	@media only screen and (min-width: 0px)  and (max-width: 767px)
		@content

@mixin small-desktop
	@media only screen and (min-width: 768px)  and (max-width: 1050px)
		@content

@mixin desktop
	@media only screen and (min-width:1050px)
		@content


// Reset

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, section, article, header, nav, ul, li
	margin: 0
	padding: 0
	border: 0


body
	font-family: arial, Helvetica, sans-serif


.bold
	font-weight: bold

.italic
	font-style: italic

// Main Styles

header
	text-align: center
	clear: both
	height: auto

.top-header
	width: 100%
	background: $brown
	height: 30px

.main-header
	width: 100%
	max-width: 960px
	text-align: center
	margin: 0 auto 10px
	.left, .right
		margin-top: 10px
	.right
		p
			margin-bottom: 10px
		a
			font-size: 10px
			font-weight: bold
			line-height: 17px
			background: $green
			height: 20px
			padding: 4px 10px
			border-radius: 2px
			color:  $white
			text-decoration: none

	.left, .center, .right
		float: left
		width: 33%
		text-align: center
		color: $brown
		font-size: 15px
		font-weight: bold
		margin: 10px 0
		@include mobile
			width: 90%
			text-align: center
			margin: 10px 5%
		img
			width: 168px
			height: 75px
		.location-icon
			width: 46px
			float: left
			@include mobile
				width: 100%
			i
				color: $green
				font-size: 42px
		.location
			width: auto
			float: left
			@include mobile
				width: 100%

#nav
	border-bottom: 1px solid $green
	background: #f8f8f8
	@include desktop
		display: block !important
	@include mobile
		position: absolute
		top: 50px
		text-align: left
		display: none
		border: none
	ul
		@include mobile
			border: none
		li
			padding: 5px 10px
			@include mobile
				padding: 0
				width: 100%
				display: block
				border-bottom: 1px solid $grey

			&:hover
				border-bottom: 5px solid $green
				@include mobile
					border-bottom: 1px solid $grey
			a
				@include mobile
					width: 100%
					position: relative
					text-align: center
					height: 36px
					line-height: 36px
					&:after
						display: block
						content: ""
						position: absolute
						right: 10%
						top: 15px
						width: 0
						height: 0
						border-top: 5px solid transparent
						border-left: 5px solid #000
						border-bottom: 5px solid transparent
			a.down-arrow
				@include mobile
					&:after
						border-top: 5px solid #000
						border-left: 5px solid transparent
						border-right: 5px solid transparent
						border-bottom: 5px solid transparent


			.sub-nav
				.nav-col
					ul
						li:first-child							
							a.down-arrow
								@include mobile
									&:after
										border-top: 5px solid #000
										border-left: 5px solid transparent
										border-right: 5px solid transparent
										border-bottom: 5px solid transparent
						li:not(:first-child)
							a
								&:after
									@include mobile
										border: 0
							








	.nav-col, .nav-col-story
		ul
			li:first-child
				font-weight: bold
				margin-top: 20px
				a
					&:after
						content: ""
						position: absolute
						right: 10%
						top: 15px
						width: 0
						height: 0
						border-top: 5px solid transparent
						border-left: 5px solid #000
						border-bottom: 5px solid transparent
				@include mobile
					display: block
					margin: 0
					background: darken($white, 10%)
			li
				width: 100%
				padding: 0 0 8px
				line-height: initial
				height: auto
				@include mobile
					display: none
					padding: 0

				@include desktop
					display: block !important

				@include small-desktop
					display: block !important
				&:hover
					border: none
					@include mobile
						border-bottom: 1px solid $grey



nav
	width: 100%
	float: left
	border-top: 1px solid $grey
	ul
		width: 100%
		text-align: center
		li
			padding: 3px 0px
			display: inline
			height: 36px
			line-height: 36px
			text-align: center
			font-size: 14px
			border: 0
			&:hover, &:active
				.sub-nav-container
					display: block
					@include mobile
						display: none
					@include desktop
						display: block !important
					@include small-desktop
						display: block !important
			a
				display: inline-block
				text-decoration: none
				outline: 0
				color: $brown
		li.red
			a	
				color: #c11a36
			.nav-col
				a
					color: $brown
	.sub-nav-container
		width: 100%
		position: absolute
		left: 0
		right: 0
		margin: 0 auto
		display: none
		background: $white
		border-top: 1px solid $green
		border-bottom: 3px solid $grey
		padding-bottom: 10px
		z-index: 99
		@include mobile
			background: darken($white, 20%)
			border: 0
			padding: 0

		.sub-nav
			width: 930px
			margin: 0 auto
			@include mobile
				width: 100%
				display: block
			.nav-col, .nav-col-2, .nav-col-story
				width: 168px
				min-width: 168px
				min-height: 1px
				float: left
				text-align: left
				@include small-desktop
					width: 40%
					margin: 0 5%
					float: left
				@include mobile
					width: 100%
					margin: 0
					display: block
				ul
					text-align: left
					li
						text-align: left
						float: left
						&:hover
							@include mobile
								border-bottom: 1px solid $grey
					
	

			.nav-col
				ul
					li
						@include mobile
							display: none
						a
							@include mobile
								&:after
									content: ""
									position: absolute
									right: 10%
									top: 15px
									width: 0
									height: 0
									border-top: 5px solid transparent
									border-left: 5px solid #000
									border-bottom: 5px solid transparent
			.nav-col-2
				width: 372px
				@include small-desktop
					width: 40%
					margin: 0 5%
					float: left
				@include mobile
					display: none

			.nav-col-story
				width: 231px
				@include small-desktop
					width: 40%
					margin: 0 5%
					float: left
				@include mobile
					width: 100%
					margin: 0%
					float: left
				p
					font-family: times new roman, serif
					color: $brown
					font-size: 20px
					@include mobile
						display: none
				.welcome
					font-size: 30px
					color: $green
					padding: 25px 0 12px
				div
					margin-top: 10px
					@include mobile
						display: none
				img 
					@include mobile
						display: none
				ul
					li
						a
							@include mobile
								&:after
									display: none


#nav-2-container
	width: 100%
	float: left
	@include mobile
		position: absolute
		top: 309px
	#nav-2
		font-family: 'Noto Serif', serif
		text-align: center
		text-decoration: none
		margin: 10px auto 0
		border-bottom: 3px solid $grey
		max-width: 1050px
		float: none
		@include desktop
			display: block !important
			
		@include small-desktop
			display: block !important
		@include mobile
			display: none
			font-family: Arial, Helvetica,sans-serif
			border: none
			margin: 0

		ul
			text-align: center
			li
				font-size: 16px
				padding: 0
				margin: 0 3px
				width: 100%
				position: relative
				@include mobile
					margin: 0
					display: inline-block
					background: lighten($grey, 10%)
					border-bottom: 1px solid $grey
				@include small-desktop
					margin: 0
					font-size: 15px
				&:after
					content: "/"
					color: #eee
					font-weight: bold
					@include mobile
						content: ""
						
				&:first-child
					a
						&:after
							border: 0
				&:last-child:after
					display: none
				&:hover
					border: none
					@include mobile
						border-bottom: 1px solid $grey
					ul
						display: block
						@include mobile
							display: none
						@include desktop
							display: block !important
						@include small-desktop
							display: block !important
					
				a
					letter-spacing: 2px
					padding: 0 16px
					height: 50px
					line-height: 50px
					position: relative
					@include small-desktop
						padding: 0
						letter-spacing: 1px
					@include mobile
						font-size: 14px
						height: 36px
						line-height: 36px
						letter-spacing: 0
						width: 100%
						padding: 0
					&:after
						@include mobile
							content: ""
							position: absolute
							right: 10%
							top: 15px
							width: 0
							height: 0
							border-bottom: 5px solid transparent
							border-left: 5px solid #000
							border-top: 5px solid transparent


					&:hover
						text-decoration: underline
						@include mobile
							text-decoration: none
				@include mobile
					a.swap
						font-size: 0
						&:before
							content: attr(data-swap)
							font-size: 14px

				ul
					display: none
					width: 160px
					z-index: 999
					position: absolute
					background: #f8f8f8
					left: 50%
					margin-left: -85px
					text-align: center
					@include mobile
						width: 100%
						left: 0
						background: #e8e8e8
						margin: 0

					&:before
						content: ""
						position: absolute
						left: 40%
						top: -10px
						border-width: 0 10px 10px
						border-style: solid
						border-color: transparent transparent $green
						width: 0
						z-index: 999
						opacity: 1
						@include mobile
							display: none

					li
						display: block
						margin: 0
						border-bottom: 1px solid $grey
						padding: 0
						height: auto
						line-height: initial
						@include mobile
							background: #e8e8e8
							font-size: 14px
							font-weight: bold
						&:after
							display: none
						&:hover
							border-bottom: 1px solid $grey
						a
							font-size: 10px
							line-height: 16px
							padding: 12px
							height: auto
							letter-spacing: 0
							font-family: arial, Helvetica, sans-serif
							@include mobile
								font-size: 14px
							&:hover
								color: $green
								@include mobile
									color: $brown
							&:after
								display: none
					li:last-child
						border: 0

		.nav-col-story
			li
				width: 100%
				padding: 0 0 8px
				line-height: initial
				height: auto
				&:hover
					border: none





#offer
	width: 100%
	background: $green
	float: left
	margin-bottom: 20px
	text-align: center
	.left, .right
		float: left
		width: 50%
		margin: 0
		padding: 0
		line-height: 28px
		@include mobile
			width: 90%
			margin: 5px 5%
	a
		color: $white
		text-decoration: none
		text-transform: uppercase
		font-size: 14px
		font-weight: bold
		&:hover
			text-decoration: underline
#branding-container
	width: 100%
	float: left
	text-align: center
	@include mobile
		width: 90%
		margin: 0 5%
	#branding
		width: 100%
		max-width: 1050px
		height: auto
		margin: 0px auto
		img
			max-height: 100%
			max-width: 100%
			width: 100%
			height: 106px

#mobile-nav-container
	width: 100%
	float: left
	height: 50px
	background: darken($brown, 10%)
	color: $white
	text-align: right
	display: none
	@include mobile
		display: block
	p
		cursor: pointer
	.mobile-nav-button
		width: 73px
		margin: 16px 20px 0 auto
		font-size: 20px

